<p>
  <b>S type:</b>
  <%=h @solicitation_type.s_type %>
</p>

<p>
  <b>S value:</b>
  <%=h @solicitation_type.s_value %>
</p>


<%= link_to 'Edit', edit_solicitation_type_path(@solicitation_type) %> |
<%= link_to 'Back', solicitation_types_path %>
