<p>
  <b>S type:</b>
  <%=h @setaside.s_type %>
</p>

<p>
  <b>S value:</b>
  <%=h @setaside.s_value %>
</p>


<%= link_to 'Edit', edit_setaside_path(@setaside) %> |
<%= link_to 'Back', setasides_path %>
